@import '../../styles/abstracts/_variables.scss';

.side-menu{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;


  height: 100vh;
  min-width: 250px;
  color: color(white, base);
  background-color: color(navy-blue, base);
}

.side-menu-nav{
  display: flex;
  flex-direction: column;

  width: 100%;

}
.side-menu-nav-item{
  display: flex;

  padding: 15px 10px;

  font-size: 1.5em;
  font-family: Arial;
  text-decoration: none;
  color: white;

  transition: .2s;
  &:hover{
    background-color: color(white, darker);
    color: color(navy-blue, base);

  }
}
